{% block content %}
<h2> LIST OF POSTS </h2>

<style>
table, th, td {
	border: 1px solid black;
}
</style>
<table> 
	{% for post in posts%}
	<tr>
		<td style="width:50%">
			{{post['post']}}
			<th>Likes : {{post['Like']}}</th>
			<th>Angry : {{post['Angry']}}</th>
			<th>Haha : {{post['Haha']}}</th>
			<th>Cry : {{post['Cry']}}</th>
		</td>
		<td>
			<form class='form-inline' method='post' action="{{url_for('create_and_post')}}">
				<input class='form-control' type='hidden' name="update_post" value="{{post['rowid']}}" placeholder=''/>
				<input class='like-btn' type='submit' name='like' value='Like'/>
				<input class='like-btn' type='submit' name='angry' value='Angry'/>
				<input class='like-btn' type='submit' name='haha' value='Haha'/>
				<input class='like-btn' type='submit' name='cry' value='Cry'/>
				<input class='btn btn-primary' type='submit' name='delete' value='Delete'/>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>


<h1> THIS IS YOUR FIRST TEMPLATE </h1>
<form class='form-inline' method='post' action="{{url_for('.create_and_post')}}">
	<input class='form-control' type='text' name='new_post' placeholder=''/>
	<input class='btn btn-primary' type='submit' value='Post'/>
</form>

<script>

function formFunction(row_id) {

	document.write(row_id);
	var row = document.getElementById(row_id);
	row.parentNode.removChild(row);
}
</script>

{% endblock %}

